{% extends "::template.html.twig" %}


{% block titre %} Toutes les guildes que vous avec créé{% endblock titre %}

{% block content %}

<br>
<br>


<a href=" {{ path('guild_create')}}"> Creer une guild </a>

 <table class="table">
  <tr class="width">
  <td> Nom de la guilde </td>
  <td> GM</td>
  <td> MMO </td>
  <td> Serveur </td>
  <td> Lien </td>
  <td>  </td>
  </tr>


{% for keys in allguild %}
  <tr>
	<td>
	{{ keys.name }}
	</td>
	<td>
	{{ keys.GM }}
	</td>
	<td>
	{{ keys.MMO_Principale }}
	</td>
	<td>
	{{ keys.Serveur }}
	</td>
	<td> <a href="{{ path('guild_first_page', { 'GuildId': keys.id }) }}"> Liens vers la guild </a></td>
  </tr>
{% endfor %}


</table> 


{% endblock content %}
